@model IEnumerable<Family>
@{
    ViewData["Title"] = "Index";
}

<h1>Index - Family</h1>

<div class="container p-3">
    <div class="raw pt-4">
        <div class="col-6">
            <h2 class=" text-primary">Моя семья</h2>
        </div>
        <div class="col-6"></div>

</div>