@model IEnumerable<Family>
@{
    ViewData["Title"] = "Family";
}

<div class="container p-3">
    <div class="raw pt-4">
        <div class="col-6 text-right">
            <h2 class="text-primary">Моя семья</h2>
        </div>
        <div class="col-6 p-3 text-right">
            <a class="btn btn-primary" asp-controller="Family" asp-action="Create"><h6>Create new item</h6></a>
        </div>
    </div>
   @if (Model.Any())
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Номер
                    </th>
                    <th>
                        Имя
                    </th>
                    <th>
                        Возраст
                    </th>
                </tr>
            </thead>
            <tbodey>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                        </td>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Age
                        </td>
                        <td>
                            @item.Gender
                        </td>
                    </tr>
                }
            </tbodey>
        </table>
    }
    else
    {
        <p>It is empty</p>
    }

</div>